.pokemon-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pokemon-list::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) {
    .pokemon-list {
        justify-content: space-evenly;
    }
}
