.search-bar {
    color: white;
    padding: 0 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid white;
    width: 80px;
    height: 100%;
    outline: none;
}

.btn {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .search-bar {
        width: 150px;
    }
}
