@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* types */

:root {
    --normal: #fee0ab;
    --fire: #f79d36;
    --water: #7cbfe1;
    --grass: #78ec81;
    --fighting: #ae6144;
    --flying: #a19ac5;
    --poison: #cc6aa6;
    --ghost: #947fb6;
    --steel: #b3b1ad;
    --electric: #eaf559;
    --psyhic: #f595a3;
    --ground: #d2b288;
    --rock: #b0a75f;
    --bug: #6bdba7;
    --ice: #bde0d9;
    --dragon: #7b74af;
    --dark: #898989;
    --fairy: #f8bfce;
}
